
@media only screen and (min-width : 800px) and (max-width : 14000px){

  .mobile{
    display: none;
  
  }
  .desktop{
    display: block;
  }

    html {
      background: url(../images/fondoF.jpg) no-repeat top center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .mobile-background{
      display: none;
    }

    div{
      font-family: "maison", Times, serif;
      color: white;
      position: relative;
      left: -15px;
    }


    .titulo {
      font-size: 14.21vw;
      line-height: 80%;
      letter-spacing: -0.37vw;
      margin-left: 0px;
      padding-left: 0px;
      display: block;
    }

    .titulo-small{
      display: none;
    }
    .texto{
      width: 45%;
      margin-left: 15%;
      font-size: 7vw;
    }

    .separator{
      margin-top: 500px;
    }

    .separator-med{
      margin-top: 400px;
    }

    .separator-small{
      margin-top: 200px;
    }
    .separator-tiny{
      margin-top: 10px;
    }

    .bottom{
      width: 80%;
      margin-left: 18%;
      font-size: 7vw;
    }
    .links{
      margin-top: 50px;
      width: 80%;
      margin-left: 18%;
      font-size: 3.7vw;
      margin-bottom: 100px;
    }

    .numeros{
      font-family: "monaco", Times, serif;
      margin-top: 20px;
      text-align: center;
      width: 67%;
      margin-left: 18%;
      padding-top: 3.5vw;
    }
    .numeros img{
      width: 100%;
    }

    .links-small{
      display: none;
    }

    .contacta{
      text-decoration: none;
    }

    .contacta:link{
      color: white;
      border-bottom: 6px solid #000;
      padding-bottom: 8px;
    }

    .contacta:visited{
      color: white;
    }
    .contacta:hover{
      color: #FAF934;
    }
    .contacta:active{
      color: #FAF934;
    }
}