
@font-face {
    font-family: maison;
    src: url(../fonts/MaisonNeueTRIAL-Bold.otf);
}


@font-face {
    font-family: monaco;
    src: url(../fonts/Monaco.ttf);
}

	* {
		margin: 0;
		padding: 0;
	}

.yellow{
	color: #FAF934;
}


