
@font-face {
    font-family: maison;
    src: url(../fonts/MaisonNeueTRIAL-Bold.otf);
}

body {
    margin: 0px 0px 0px 0px;
}


@media only screen and (min-width : 800px) and (max-width : 14000px){
	html {
	    background: url(../images/fondoF.jpg) no-repeat top center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}
}

@media only screen and (min-width : 0px) and (max-width : 800px){
	html {
	    background: url(../images/fondoMF.jpg) no-repeat top center fixed;
	    -webkit-background-size: 100%;
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    background-size: 100%;
	}
}
div{
	font-family: "maison", Times, serif;
  color: white;
}
.yellow{
	color: #FAF934;
}

		.titulo {
			font-size: 13.5vw;
    }
 
.texto{
	width: 45%;
  margin-left: 8%;
  font-size: 7vw;
}

.separator{
	margin-top: 600px;
}

.separator-med{
	margin-top: 400px;
}

.separator-small{
	margin-top: 200px;
}
